* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  position: sticky;
  background-color: #fdfdfd8a;
  top: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 1px 2px rgb(12 12 12 / 12%);
  backdrop-filter: blur(4px);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #404040;
}

.page-header nav {
  display: flex;
  gap: 8px;
}

.page-header .navlink {
  color: #565656;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: 0 1px 4px rgb(12 12 12 / 6%);
}

.page-header .bi {
  font-size: 1.25rem;
}

main {
  padding-top: 40px;
  padding-bottom: 40px;
}

section {
  padding: 16px;
  margin-bottom: 40px;
  min-width: fit-content;
  width: clamp(280px, 100%, 400px);
  display: inline-block;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  margin-bottom: 8px;
}

section ul {
  display: grid;
  gap: 8px;
}

li {
  list-style: none;
  padding: 4px 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: #565656;
  border-radius: 4px;
}

li:nth-child(2n) {
  background: #fafafa;
}

article {
  padding: 16px;
  background: #fafafa;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgb(12 12 12 / 6%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 8px;
  justify-items: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #565656;
  line-height: 1.4;
}

.image-container {
  max-width: 400px;
  max-height: 400px;
  aspect-ratio: 1/1;
  border-radius: 4px;
}

img {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
